@model Web.Models.PedidoViewModel

@{
    ViewData["Title"] = "Create - Pedido";
    var restaurantes = ViewBag.Restaurantes;
    var produtos = ViewBag.Produtos;
}

<h4>Create - Pedido</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataPedido" class="control-label"></label>
                <input asp-for="DataPedido" class="form-control" type="date"/>
                <span asp-validation-for="DataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desconto" class="control-label"></label>
                <input asp-for="Desconto" class="form-control" />
                <span asp-validation-for="Desconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxaFrete" class="control-label"></label>
                <input asp-for="TaxaFrete" class="form-control" />
                <span asp-validation-for="TaxaFrete" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestauranteId" class="control-label"></label>
                <select asp-for="RestauranteId" class="form-control">
                    @{
                        foreach (RestauranteViewModel restaurante in restaurantes)
                        {
                            <option value="@restaurante.Id">@restaurante.Nome</option>
                        }
                    }
                </select>
                <span asp-validation-for="RestauranteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control">
                    @{
                        foreach (ProdutoViewModel produto in produtos)
                        {
                            <option value="@produto.Id">@produto.Nome - R$@produto.Preco</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<p style="color: red">@ViewBag.ErroGravar</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
